# This workflow enter a nix shell and run the main test suite.
# It's primarily used to check that the nix environment works

name: CI - Nix-based testing

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Python ${{ matrix.python-version }}
      run: nix develop --command uv python install ${{ matrix.python-version }}
    - name: Build venv
      run: nix develop --command make venv
    - name: Run tests
      run: nix develop --command make tests
